<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable-=no, inital-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Ticket</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="body">
{% if action == 'buy' %}
<h1>Flights</h1>
<div class="container">
    <form action="http://localhost:5000/payment" method="post">
        <table>
            <tr>
                <th>departure</th>
                <th>destination</th>
                <th>departure-time</th>
                <th>arrival-time</th>
                <th>price</th>
            </tr>
            <tr>
                <td>{{ available_flights["departure"] }}</td>
                <input type="hidden" name="departure" value="{{ available_flights['departure'] }}">
                <td>{{ available_flights["destination"] }}</td>
                <input type="hidden" name="destination" value="{{ available_flights['destination'] }}">
                <td>{{ available_flights["departure_time"] }}</td>
                <input type="hidden" name="departure_time" value="{{ available_flights['departure_time'] }}">
                <td>{{ available_flights["arrival_time"] }}</td>
                <input type="hidden" name="arrival_time" value="{{ available_flights['arrival_time'] }}">
                <td>{{ available_flights["price"] }}</td>
                <input type="hidden" name="price" value="{{ available_flights['price'] }}">
            </tr>
        </table>
        <button type="submit">Purchase</button>
    </form>
</div>
{% endif %}
{% if action == 'delete' %}
<h1>Flight Cancellation</h1>
<div class="container">
    <table>
        <tr>
            <th>departure</th>
            <th>destination</th>
            <th>departure-time</th>
            <th>arrival-time</th>
        </tr>
        <tr>
            <td>{{ flight[0][2] }}</td>
            <td>{{ flight[0][3] }}</td>
            <td>{{ flight[0][4] }}</td>
            <td>{{ flight[0][5] }}</td>
        </tr>
    </table>
</div>
<br>
<br>
<div class="container">
    <form action="http://localhost:5000/delete" method="post">
        <label>Ticket ID</label>
        <input type="text" name="delete-ticket-id" placeholder="enter ticket ID">
        <button type="submit">Delete Ticket</button>
    </form>
</div>
{% endif %}
</body>